<aside id="logo-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r
       border-gray-200 sm:translate-x-0 "
       aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
    <ul class="space-y-2">
      <li (click)="taskService.unselectCategory()">
        <a href="#"
           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100">
          <span class="ml-3">Все категории</span>
        </a>
      </li>
      <li *ngFor="let category of categories"
          (click)="taskService.selectCategory(category)">
        <a href="#"
           class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-100"
           [ngClass]="{'bg-cyan-200 hover:bg-cyan-300':taskService.selectedCategory === category && taskService.selected}"
        >
          <span class="ml-3">{{category.title}}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
