<div class="col-lg-12 col-md-12">
  <div class="text-right">
    <button type="button" rel="tooltip" title="Создать новую задачу" class="btn btn-outline-info">
      <i class="material-icons">add_circle</i>
    </button>
  </div>
  <div class="card">

    <div class="card-header card-header-success">
      <h4 class="card-title">Задачи</h4>

    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active" id="profile">
          <table class="table">

            <div *ngIf="_tasks | async as _tasks; else elseBlock">
              <!--            <div *ngIf="_tasks; else elseBlock">-->
              <thead>
              <th></th>
              <th> Цель</th>
              <th> Приоритет</th>
              <th> Инфааа</th>
              <th> Option</th>
              </thead>
              <tbody>

              <!--          если выбрана категория    -->
              <div *ngIf="taskService.selectedCategory; else elseBlock">
                <div> Category selected</div>
              </div>

              <!--              если не выбрана-->
              <ng-template #elseBlock><p class="text-center font-weight-bold">
                Category NOT selected
              </p></ng-template>

              <tr
                *ngFor="let task of _tasks | filterTasks: (taskService.selected ? taskService.selectedCategory : null)">
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value=""
                             [checked]="task.completed"
                             (click)="revertComplete(task)"
                      >
                      <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                    </label>
                  </div>
                </td>

                <td [class.completed]="task.completed">  {{task.title}} </td>
                <td appColorChanger [color]="task.priority ? getColorOfPriority(task.priority) : 'white'">
                  <i class="material-icons">priority_high</i>
                </td>

                <td>  {{task.links.at(0)?.href}} </td>
                <!--                              <td>  {{task.category?.title}} </td>-->


                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-dark btn-link btn-sm">
                    <i class="material-icons">edit</i>
                  </button>
                  <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>

              </tbody>
              <!--              </div>-->
            </div>

            <ng-template #elseBlock><p class="text-center font-weight-bold">Нет задач</p></ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
